html {
	min-height: 100%;
	background-color: #c5c1c0;
}


body{
	height: 100%;
	background-color: white;
	margin:50px 30px;
	position:relative;
}

.typography h1{
	border-bottom-width: 5px;
}


.main-white-bg{
	padding-bottom: 60px;
	padding-top:125px;
}

.top-nav{
	position:absolute;
	top:0;
	width: 100%;
}

nav a{
	color:#1a2930;
}

nav a:hover{
	color:#c5c1c0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.box{
	padding: 10px;
	color:white;
	background-color: #1a2930;
	width: 120px;
	height: 120px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

.boxes-holder{
	margin-left: auto;
	margin-right: auto;
	max-width: 290px;
}

button{
	color:black;
}

.header{
		margin-bottom: 20px;
}

form{
	width:100%;
	max-width: none;
}

form textarea{
	max-width: none;
}


input[type=checkbox]:checked + span {
  color: red;
}

input[type="submit"], .Actions .action{
	background-color: #F7CE3E;
}

.bottom-comment{
	margin-bottom: 0;
}

.blue-border{
	border-radius: 5px;
	border: 3px solid #1a2930;
	padding: 25px 20px 20px 20px;
	margin-left:auto;
	margin-right: auto;
	width: 100%;
	position: relative;
	margin-top:22px;
	margin-bottom: 20px;
}

.blue-border h2{
	position: absolute;
	top:-17px;
	left:34px;
	background-color: white;
}

.login-holder{
	position: absolute;
	right: 10px;
	top:10px;
}


.styled-table{
	margin-left: auto!important;
	margin-right:auto!important;
	border:0!important;
	border-collapse: collapse;
	border-style: hidden;
}

.styled-table td, .styled-table th{
	border: 1px solid white!important;
	padding:8px 15px!important;
	text-align: center;
}

.styled-table th{
	background-color: #1a2930!important;
	color:white;
	font-weight: normal!important;
}

.styled-table tr:nth-child(odd) {
		background-color: rgba(197,193,192, 0.4)!important;
}

.styled-table tr:nth-child(even) {
		background-color: white!important;
}

.blue-border .styled-table{
	margin: 0px!important;
	width:100%!important;
}

.uploaded-img{
	/* width:80%; */
}

.uploaded-img{
	border:none;
	padding:20px 0;
}

.message-success{
	background-color: #1a2930;
	border-radius: 4px;
	color:white;
	padding:2px 5px;
}

.message-success p{
	font-weight: bold;
	margin: 0;
}

.message-error{
	background-color: #b80000;
	border-radius: 4px;
	color:white;
	padding:2px 5px;
}

.message-error p{
	font-weight: bold;
	margin: 0;
}

/**
----Responsive----
**/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.header-holder{
		padding-top:18px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
